.App {
  text-align: center;
}

.searchBar {
  width: 100%;
  top: 0;
  left: 50px;
  right: 50px;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.searchBarWrapper {
  flex: 1;
  background: #e9e;
}
.inputBar {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.container {
  margin: 0 50px;
  padding: 20px;
}

.postlists {
  margin: 50px;
}

.postlist {
  margin: 2px;
  text-align: left;
}
.postlistTitle {
  font-size: 20px;
  font-family: cursive;
}
.postlistBody {
  text-align: left;
  font-size: 20px;
}
